
	code for sm_121
	.target	sm_121

		Function : k_break
	.headerflags	@"EF_CUDA_SM121 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM121)"
        /*0000*/                   LDC R1, c[0x0][0x37c] ;                        /* 0x0000df00ff017b82 */
                                                                                  /* 0x000fe20000000800 */
        /*0010*/                   S2R R11, SR_TID.X ;                            /* 0x00000000000b7919 */
                                                                                  /* 0x000e2e0000002100 */
        /*0020*/                   LDC.64 R4, c[0x0][0x388] ;                     /* 0x0000e200ff047b82 */
                                                                                  /* 0x000e220000000a00 */
        /*0030*/                   LDCU.64 UR4, c[0x0][0x358] ;                   /* 0x00006b00ff0477ac */
                                                                                  /* 0x000e620008000a00 */
        /*0040*/                   IMAD.WIDE.U32 R2, R11, 0x4, R4 ;               /* 0x000000040b027825 */
                                                                                  /* 0x001fca00078e0004 */
        /*0050*/                   LDG.E R0, desc[UR4][R2.64] ;                   /* 0x0000000402007981 */
                                                                                  /* 0x002162000c1e1900 */
        /*0060*/                   HFMA2 R7, -RZ, RZ, 0, 0 ;                      /* 0x00000000ff077431 */
                                                                                  /* 0x000fe200000001ff */
        /*0070*/                   BSSY.RECONVERGENT B0, 0x110 ;                  /* 0x0000009000007945 */
                                                                                  /* 0x000fe20003800200 */
        /*0080*/                   MOV R9, RZ ;                                   /* 0x000000ff00097202 */
                                                                                  /* 0x000fce0000000f00 */
        /*0090*/                   IMAD.WIDE.U32 R2, R7, 0x4, R4 ;                /* 0x0000000407027825 */
                                                                                  /* 0x001fcc00078e0004 */
        /*00a0*/                   LDG.E R2, desc[UR4][R2.64] ;                   /* 0x0000000402027981 */
                                                                                  /* 0x000ea2000c1e1900 */
        /*00b0*/                   ISETP.GE.U32.AND P0, PT, R7.reuse, 0x3f, PT ;  /* 0x0000003f0700780c */
                                                                                  /* 0x040fe20003f06070 */
        /*00c0*/                   IADD3 R7, PT, PT, R7, 0x1, RZ ;                /* 0x0000000107077810 */
                                                                                  /* 0x000fe40007ffe0ff */
        /*00d0*/                   IADD3 R9, PT, PT, R2, R9, RZ ;                 /* 0x0000000902097210 */
                                                                                  /* 0x004fca0007ffe0ff */
        /*00e0*/                   ISETP.LE.U32.AND P1, PT, R9, R0, PT ;          /* 0x000000000900720c */
                                                                                  /* 0x020fda0003f23070 */
        /*00f0*/              @!P0 BRA P1, 0x90 ;                                 /* 0xfffffffc00e48947 */
                                                                                  /* 0x000fea000083ffff */
        /*0100*/                   BSYNC.RECONVERGENT B0 ;                        /* 0x0000000000007941 */
                                                                                  /* 0x000fea0003800200 */
        /*0110*/                   SHFL.DOWN PT, R0, R9, 0x1, 0x1f ;              /* 0x08201f0009007f89 */
                                                                                  /* 0x000e2200000e0000 */
        /*0120*/                   LDC.64 R2, c[0x0][0x380] ;                     /* 0x0000e000ff027b82 */
                                                                                  /* 0x000e620000000a00 */
        /*0130*/                   IADD3 R5, PT, PT, R9, R0, RZ ;                 /* 0x0000000009057210 */
                                                                                  /* 0x001fe20007ffe0ff */
        /*0140*/                   IMAD.WIDE.U32 R2, R11, 0x4, R2 ;               /* 0x000000040b027825 */
                                                                                  /* 0x002fca00078e0002 */
        /*0150*/                   STG.E desc[UR4][R2.64], R5 ;                   /* 0x0000000502007986 */
                                                                                  /* 0x000fe2000c101904 */
        /*0160*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*0170*/                   BRA 0x170;                                     /* 0xfffffffc00fc7947 */
                                                                                  /* 0x000fc0000383ffff */
        /*0180*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : k_nested
	.headerflags	@"EF_CUDA_SM121 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM121)"
        /*0000*/                   LDC R1, c[0x0][0x37c] ;                        /* 0x0000df00ff017b82 */
                                                                                  /* 0x000fe20000000800 */
        /*0010*/                   S2R R5, SR_TID.X ;                             /* 0x0000000000057919 */
                                                                                  /* 0x000e2e0000002100 */
        /*0020*/                   LDC.64 R6, c[0x0][0x388] ;                     /* 0x0000e200ff067b82 */
                                                                                  /* 0x000e220000000a00 */
        /*0030*/                   LDCU.64 UR4, c[0x0][0x358] ;                   /* 0x00006b00ff0477ac */
                                                                                  /* 0x000e6e0008000a00 */
        /*0040*/                   LDC.64 R2, c[0x0][0x380] ;                     /* 0x0000e000ff027b82 */
                                                                                  /* 0x000ea20000000a00 */
        /*0050*/                   IMAD.WIDE.U32 R6, R5, 0x4, R6 ;                /* 0x0000000405067825 */
                                                                                  /* 0x001fcc00078e0006 */
        /*0060*/                   LDG.E R6, desc[UR4][R6.64] ;                   /* 0x0000000406067981 */
                                                                                  /* 0x002ee2000c1e1900 */
        /*0070*/                   BSSY.RECONVERGENT B0, 0x300 ;                  /* 0x0000028000007945 */
                                                                                  /* 0x000fe20003800200 */
        /*0080*/                   LOP3.LUT R0, R6, 0xffffffc1, RZ, 0xc0, !PT ;   /* 0xffffffc106007812 */
                                                                                  /* 0x008fca00078ec0ff */
        /*0090*/                   ISETP.NE.AND P0, PT, R0, 0x1, PT ;             /* 0x000000010000780c */
                                                                                  /* 0x000fe20003f05270 */
        /*00a0*/                   HFMA2 R0, -RZ, RZ, 0, 0 ;                      /* 0x00000000ff007431 */
                                                                                  /* 0x000fd800000001ff */
        /*00b0*/               @P0 BRA 0x2f0 ;                                    /* 0x00000000008c0947 */
                                                                                  /* 0x004fea0003800000 */
        /*00c0*/                   LOP3.LUT R9, R6, 0x7, RZ, 0xc0, !PT ;          /* 0x0000000706097812 */
                                                                                  /* 0x000fe400078ec0ff */
        /*00d0*/                   SHF.R.U32.HI R0, RZ, 0x1, R6 ;                 /* 0x00000001ff007819 */
                                                                                  /* 0x000fe40000011606 */
        /*00e0*/                   IADD3 R11, PT, PT, R9, 0x1, RZ ;               /* 0x00000001090b7810 */
                                                                                  /* 0x000fe40007ffe0ff */
        /*00f0*/                   IADD3 R4, PT, PT, R0.reuse, R9, RZ ;           /* 0x0000000900047210 */
                                                                                  /* 0x040fe40007ffe0ff */
        /*0100*/                   I2F.U32.RP R8, R11 ;                           /* 0x0000000b00087306 */
                                                                                  /* 0x000e220000209000 */
        /*0110*/                   IADD3 R13, PT, PT, R0, R11.reuse, RZ ;         /* 0x0000000b000d7210 */
                                                                                  /* 0x080fe40007ffe0ff */
        /*0120*/                   IADD3 R17, PT, PT, RZ, -R11, RZ ;              /* 0x8000000bff117210 */
                                                                                  /* 0x000fe20007ffe0ff */
        /*0130*/                   ISETP.NE.U32.AND P2, PT, R11, RZ, PT ;         /* 0x000000ff0b00720c */
                                                                                  /* 0x000fc40003f45070 */
        /*0140*/                   VIMNMX.U32 R6, R13, 0x20, !PT ;                /* 0x000000200d067848 */
                                                                                  /* 0x000fca0007fe0000 */
        /*0150*/                   IADD3 R15, PT, PT, R6, -0x1, RZ ;              /* 0xffffffff060f7810 */
                                                                                  /* 0x000fe20007ffe0ff */
        /*0160*/                   MOV R6, RZ ;                                   /* 0x000000ff00067202 */
                                                                                  /* 0x000fe20000000f00 */
        /*0170*/                   MUFU.RCP R8, R8 ;                              /* 0x0000000800087308 */
                                                                                  /* 0x001e260000001000 */
        /*0180*/                   ISETP.NE.AND P0, PT, R15, R4, PT ;             /* 0x000000040f00720c */
                                                                                  /* 0x000fe20003f05270 */
        /*0190*/                   IADD3 R7, PT, PT, R8, 0xffffffe, RZ ;          /* 0x0ffffffe08077810 */
                                                                                  /* 0x001fc80007ffe0ff */
        /*01a0*/                   SEL R8, RZ, 0x1, !P0 ;                         /* 0x00000001ff087807 */
                                                                                  /* 0x000fe40004000000 */
        /*01b0*/                   F2I.FTZ.U32.TRUNC.NTZ R7, R7 ;                 /* 0x0000000700077305 */
                                                                                  /* 0x000e26000021f000 */
        /*01c0*/                   IADD3 R4, PT, PT, R15, -R4, -R8 ;              /* 0x800000040f047210 */
                                                                                  /* 0x000fe20007ffe808 */
        /*01d0*/                   IMAD R17, R17, R7, RZ ;                        /* 0x0000000711117224 */
                                                                                  /* 0x001fc800078e02ff */
        /*01e0*/                   IMAD.HI.U32 R17, R7, R17, R6 ;                 /* 0x0000001107117227 */
                                                                                  /* 0x000fcc00078e0006 */
        /*01f0*/                   IMAD.HI.U32 R17, R17, R4, RZ ;                 /* 0x0000000411117227 */
                                                                                  /* 0x000fca00078e00ff */
        /*0200*/                   IADD3 R6, PT, PT, -R17, RZ, RZ ;               /* 0x000000ff11067210 */
                                                                                  /* 0x000fca0007ffe1ff */
        /*0210*/                   IMAD R4, R11, R6, R4 ;                         /* 0x000000060b047224 */
                                                                                  /* 0x000fca00078e0204 */
        /*0220*/                   ISETP.GE.U32.AND P0, PT, R4, R11, PT ;         /* 0x0000000b0400720c */
                                                                                  /* 0x000fda0003f06070 */
        /*0230*/               @P0 IADD3 R4, PT, PT, -R11, R4, RZ ;               /* 0x000000040b040210 */
                                                                                  /* 0x000fe40007ffe1ff */
        /*0240*/               @P0 IADD3 R17, PT, PT, R17, 0x1, RZ ;              /* 0x0000000111110810 */
                                                                                  /* 0x000fc60007ffe0ff */
        /*0250*/                   ISETP.GE.U32.AND P1, PT, R4, R11, PT ;         /* 0x0000000b0400720c */
                                                                                  /* 0x000fda0003f26070 */
        /*0260*/               @P1 IADD3 R17, PT, PT, R17, 0x1, RZ ;              /* 0x0000000111111810 */
                                                                                  /* 0x000fe40007ffe0ff */
        /*0270*/              @!P2 LOP3.LUT R17, RZ, R11, RZ, 0x33, !PT ;         /* 0x0000000bff11a212 */
                                                                                  /* 0x000fc800078e33ff */
        /*0280*/                   IADD3 R8, PT, PT, R8, R17, RZ ;                /* 0x0000001108087210 */
                                                                                  /* 0x000fc80007ffe0ff */
        /*0290*/                   IADD3 R7, PT, PT, R8, -0x1, RZ ;               /* 0xffffffff08077810 */
                                                                                  /* 0x000fe20007ffe0ff */
        /*02a0*/                   IMAD R0, R13, R8, R0 ;                         /* 0x000000080d007224 */
                                                                                  /* 0x000fc800078e0200 */
        /*02b0*/                   IMAD.WIDE.U32 R6, R7, R8, RZ ;                 /* 0x0000000807067225 */
                                                                                  /* 0x000fca00078e00ff */
        /*02c0*/                   SHF.R.U64 R6, R6, 0x1, R7 ;                    /* 0x0000000106067819 */
                                                                                  /* 0x000fca0000001207 */
        /*02d0*/                   IMAD R9, R9, R6, R6 ;                          /* 0x0000000609097224 */
                                                                                  /* 0x000fca00078e0206 */
        /*02e0*/                   IADD3 R0, PT, PT, R0, R9, RZ ;                 /* 0x0000000900007210 */
                                                                                  /* 0x000fce0007ffe0ff */
        /*02f0*/                   BSYNC.RECONVERGENT B0 ;                        /* 0x0000000000007941 */
                                                                                  /* 0x000fea0003800200 */
        /*0300*/                   SHFL.DOWN PT, R7, R0, 0x1, 0x1f ;              /* 0x08201f0000077f89 */
                                                                                  /* 0x000e2200000e0000 */
        /*0310*/                   IMAD.WIDE.U32 R2, R5, 0x4, R2 ;                /* 0x0000000405027825 */
                                                                                  /* 0x000fe200078e0002 */
        /*0320*/                   BAR.SYNC.DEFER_BLOCKING 0x0 ;                  /* 0x0000000000007b1d */
                                                                                  /* 0x000fe20000010000 */
        /*0330*/                   IADD3 R7, PT, PT, R7, R0, RZ ;                 /* 0x0000000007077210 */
                                                                                  /* 0x001fca0007ffe0ff */
        /*0340*/                   STG.E desc[UR4][R2.64], R7 ;                   /* 0x0000000702007986 */
                                                                                  /* 0x000fe2000c101904 */
        /*0350*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*0360*/                   BRA 0x360;                                     /* 0xfffffffc00fc7947 */
                                                                                  /* 0x000fc0000383ffff */
        /*0370*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0380*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0390*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03a0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03b0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : k_loop
	.headerflags	@"EF_CUDA_SM121 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM121)"
        /*0000*/                   LDC R1, c[0x0][0x37c] ;                        /* 0x0000df00ff017b82 */
                                                                                  /* 0x000fe20000000800 */
        /*0010*/                   S2R R9, SR_TID.X ;                             /* 0x0000000000097919 */
                                                                                  /* 0x000e2e0000002100 */
        /*0020*/                   LDC.64 R2, c[0x0][0x388] ;                     /* 0x0000e200ff027b82 */
                                                                                  /* 0x000e220000000a00 */
        /*0030*/                   LDCU.64 UR4, c[0x0][0x358] ;                   /* 0x00006b00ff0477ac */
                                                                                  /* 0x000e6e0008000a00 */
        /*0040*/                   LDC.64 R4, c[0x0][0x380] ;                     /* 0x0000e000ff047b82 */
                                                                                  /* 0x000ea20000000a00 */
        /*0050*/                   IMAD.WIDE.U32 R2, R9, 0x4, R2 ;                /* 0x0000000409027825 */
                                                                                  /* 0x001fca00078e0002 */
        /*0060*/                   LDG.E R0, desc[UR4][R2.64] ;                   /* 0x0000000402007981 */
                                                                                  /* 0x002ee2000c1e1900 */
        /*0070*/                   BSSY.RECONVERGENT B0, 0x140 ;                  /* 0x000000c000007945 */
                                                                                  /* 0x000fe20003800200 */
        /*0080*/                   HFMA2 R6, -RZ, RZ, 0, 0 ;                      /* 0x00000000ff067431 */
                                                                                  /* 0x000fe200000001ff */
        /*0090*/                   ISETP.GT.U32.AND P0, PT, R0, 0x1f, PT ;        /* 0x0000001f0000780c */
                                                                                  /* 0x008fda0003f04070 */
        /*00a0*/               @P0 BRA 0x130 ;                                    /* 0x0000000000200947 */
                                                                                  /* 0x004fea0003800000 */
        /*00b0*/                   LDG.E R2, desc[UR4][R2.64+0x100] ;             /* 0x0001000402027981 */
                                                                                  /* 0x000162000c1e1900 */
        /*00c0*/                   MOV R6, RZ ;                                   /* 0x000000ff00067202 */
                                                                                  /* 0x000fe20000000f00 */
        /*00d0*/                   MOV R7, 0x1 ;                                  /* 0x0000000100077802 */
                                                                                  /* 0x000fce0000000f00 */
        /*00e0*/                   SHF.L.U32 R3, R7, R0.reuse, RZ ;               /* 0x0000000007037219 */
                                                                                  /* 0x081fe400000006ff */
        /*00f0*/                   IADD3 R0, PT, PT, R2, R0, RZ ;                 /* 0x0000000002007210 */
                                                                                  /* 0x020fe40007ffe0ff */
        /*0100*/                   LOP3.LUT R6, R6, R3, RZ, 0xfc, !PT ;           /* 0x0000000306067212 */
                                                                                  /* 0x000fc600078efcff */
        /*0110*/                   ISETP.GE.U32.AND P0, PT, R0, 0x20, PT ;        /* 0x000000200000780c */
                                                                                  /* 0x000fda0003f06070 */
        /*0120*/              @!P0 BRA 0xe0 ;                                     /* 0xfffffffc00ec8947 */
                                                                                  /* 0x000fea000383ffff */
        /*0130*/                   BSYNC.RECONVERGENT B0 ;                        /* 0x0000000000007941 */
                                                                                  /* 0x000fea0003800200 */
        /*0140*/                   SHFL.DOWN PT, R7, R6, 0x1, 0x1f ;              /* 0x08201f0006077f89 */
                                                                                  /* 0x000e2200000e0000 */
        /*0150*/                   IMAD.WIDE.U32 R2, R9, 0x4, R4 ;                /* 0x0000000409027825 */
                                                                                  /* 0x000fe200078e0004 */
        /*0160*/                   IADD3 R7, PT, PT, R7, R6, RZ ;                 /* 0x0000000607077210 */
                                                                                  /* 0x001fca0007ffe0ff */
        /*0170*/                   STG.E desc[UR4][R2.64], R7 ;                   /* 0x0000000702007986 */
                                                                                  /* 0x000fe2000c101904 */
        /*0180*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*0190*/                   BRA 0x190;                                     /* 0xfffffffc00fc7947 */
                                                                                  /* 0x000fc0000383ffff */
        /*01a0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0200*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0210*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


		Function : k_diamond
	.headerflags	@"EF_CUDA_SM121 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM121)"
        /*0000*/                   LDC R1, c[0x0][0x37c] ;                        /* 0x0000df00ff017b82 */
                                                                                  /* 0x000fe20000000800 */
        /*0010*/                   S2R R9, SR_TID.X ;                             /* 0x0000000000097919 */
                                                                                  /* 0x000e2e0000002100 */
        /*0020*/                   LDC.64 R2, c[0x0][0x388] ;                     /* 0x0000e200ff027b82 */
                                                                                  /* 0x000e220000000a00 */
        /*0030*/                   LDCU.64 UR4, c[0x0][0x358] ;                   /* 0x00006b00ff0477ac */
                                                                                  /* 0x000e620008000a00 */
        /*0040*/                   IMAD.WIDE.U32 R2, R9, 0x4, R2 ;                /* 0x0000000409027825 */
                                                                                  /* 0x001fcc00078e0002 */
        /*0050*/                   LDG.E R2, desc[UR4][R2.64] ;                   /* 0x0000000402027981 */
                                                                                  /* 0x002ea4000c1e1900 */
        /*0060*/                   LOP3.LUT R0, R2, 0x1, RZ, 0xc0, !PT ;          /* 0x0000000102007812 */
                                                                                  /* 0x004fca00078ec0ff */
        /*0070*/                   ISETP.NE.U32.AND P0, PT, R0, 0x1, PT ;         /* 0x000000010000780c */
                                                                                  /* 0x000fda0003f05070 */
        /*0080*/               @P0 SHF.R.U32.HI R4, RZ, 0x2, R2 ;                 /* 0x00000002ff040819 */
                                                                                  /* 0x000fe20000011602 */
        /*0090*/              @!P0 MOV R5, 0x3 ;                                  /* 0x0000000300058802 */
                                                                                  /* 0x000fc80000000f00 */
        /*00a0*/               @P0 IMAD R4, R4, R4, 0x1 ;                         /* 0x0000000104040424 */
                                                                                  /* 0x000fe400078e0204 */
        /*00b0*/              @!P0 IMAD R0, R2, R5, 0x7 ;                         /* 0x0000000702008424 */
                                                                                  /* 0x000fc600078e0205 */
        /*00c0*/               @P0 LOP3.LUT R0, R4, 0x5a5a, RZ, 0x3c, !PT ;       /* 0x00005a5a04000812 */
                                                                                  /* 0x000fe400078e3cff */
        /*00d0*/                   LDC.64 R4, c[0x0][0x380] ;                     /* 0x0000e000ff047b82 */
                                                                                  /* 0x000e260000000a00 */
        /*00e0*/                   SHFL.DOWN PT, R7, R0, 0x1, 0x1f ;              /* 0x08201f0000077f89 */
                                                                                  /* 0x000e6200000e0000 */
        /*00f0*/                   IMAD.WIDE.U32 R4, R9, 0x4, R4 ;                /* 0x0000000409047825 */
                                                                                  /* 0x001fe200078e0004 */
        /*0100*/                   IADD3 R7, PT, PT, R7, R0, RZ ;                 /* 0x0000000007077210 */
                                                                                  /* 0x002fca0007ffe0ff */
        /*0110*/                   STG.E desc[UR4][R4.64], R7 ;                   /* 0x0000000704007986 */
                                                                                  /* 0x000fe2000c101904 */
        /*0120*/                   EXIT ;                                         /* 0x000000000000794d */
                                                                                  /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                     /* 0xfffffffc00fc7947 */
                                                                                  /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                           /* 0x0000000000007918 */
                                                                                  /* 0x000fc00000000000 */
		..........


